h1 {
  	text-align: center;
}

body {
  text-align: center;
  background-image: url(sunsetsilhouette.jpeg);
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
hr {
  width: 200px;
  p {
    font-size: 22px;